{% extends 'base.html' %}
{% load static %}

{% block title %}
My Stored Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/stored-posts.css' %}">
{% endblock %}

{% block content %}
    <section id="stored-posts">
        {% if not has_posts %}
        <p>You don't have any posts saved for later.</p>
        {% endif %}
        <ul>
            {% for post in read_later %}
            <li>
                <a href="{% url 'post-details-page' post.slug %}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}